<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <!--使用WCF方式获取数据的配置-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:1731/BasicService/Dz_typeService.svc"
     behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
     bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IDz_typeService"
         name="WSHttpBinding_IDz_typeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1731/BasicService/ClientsService.svc"
     behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
     bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IClientsService"
         name="WSHttpBinding_IClientsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:1731/BasicService/FactoryService.svc"
   behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
   bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IFactoryService"
       name="WSHttpBinding_IFactoryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>


      <endpoint address="http://localhost:1731/BasicService/PublishsService.svc"
   behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
   bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IPublishsService"
       name="WSHttpBinding_IPublishsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1731/SecurityService/Station_totalService.svc"
     behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
     bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IStation_totalService"
     name="WSHttpBinding_IStation_totalService">
           <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1731/BasicService/ProductService.svc"
   behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
   bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IProductService"
   name="WSHttpBinding_IProductService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1731/BasicService/Member_degreeService.svc"
  behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
  bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IMember_degreeService"
  name="WSHttpBinding_IMember_degreeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1731/BasicService/MemberService.svc"
 behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
 bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IMemberService"
 name="WSHttpBinding_IMemberService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:1731/BasicService/Wg_cardService.svc"
behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
bindingConfiguration="CustomWsHttpBinding" contract="Erp.Base.Facade.IWg_cardService"
name="WSHttpBinding_IWg_cardService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>